<!DOCTYPE html>
<html lang="en">
<head>
  {{ partial "head.html" . }}
  <title>{{ block "title" . }} {{ .Site.Title }} {{ end }}</title>
</head>

<body>
    {{- partial "header.html" . -}}
    <p style="padding: 0;">
      {{- partial "crumb.html" . -}}
      {{ if not (eq .Section "") }}
      <br>
      {{end}}
      {{ if not
        (or 
        (eq .Section "")
        (eq .Section "about")
        (eq .Section "resources")
        (eq .Section "categories")
        (eq .Section "tags")
        ($.Params.excldate)
        )
      }}
      {{ if not .PublishDate.IsZero }}
      <span>published-date: {{ .PublishDate.Format "02 Jan 2006 15:04 -0700" }}</span><br>
      {{ end }}
      {{ if not .ExpiryDate.IsZero }}
      <span>expiry-date: {{ .ExpiryDate.Format "02 Jan 2006 15:04 -0700" }}</span><br>
      {{ end }}
      {{ end }}
      {{ if isset .Params "categories"}}{{- partial "categories.html" . -}}<br>{{ end }}
      {{ if isset .Params "tags" }}{{- partial "tags.html" . -}}<br>{{ end }}    
    </p>
  <h1 class="tc">{{ .Title }}</h1>
  <hr>
  <div>
    {{ block "main" . }} {{ end }}
  </div>
  {{ if (and .Params.disqus false) }}
  <div>
    {{ template "_internal/disqus.html" . }}
  </div>
  {{ end }}

  
  <br>
  <br>
  <br>
  <br>
  {{ partial "footer.html" . }}
</body>

</html>


