{{ template "_internal/google_analytics.html" . }}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/highlight.css?v=1.0.0">
<link rel="icon" href="/favicon.ico">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
{{ if .Params.katex }}{{ partial "heads/katex.html" . }}{{ end }}
{{ if .Params.mermaidjs }}{{ partial "heads/mermaid.html" . }}{{ end }}
{{ if .Params.mathjax }}{{ partial "heads/mathjax.html" . }}{{ end }}


{{ if eq .Site.Params.debug 1 }}
<style>
*, * * {outline: 1px dashed greenyellow;}
</style>
{{ end }}
{{ with resources.Get "css/main.css" | minify }}
<style>{{ .Content | safeCSS }}</style>
{{ end }}
